<h2>Products</h2>

<div *ngFor = "let product of products; index as productId"> <!-- *ngFor causes <div> to be repeated for each products -->

<h3>
<a [title] = "product.name + ' details' " [routerLink]="['/products', productId]" >  <!-- [] Property binding lets you use the property value in a template expression.-->

      {{product.name}}    <!-- {{}} Interpolation Syntax . Interpolation lets you render the property value as text.-->
  </a>
</h3>

<p *ngIf = 'product.description'>   <!-- *ngIf states if a product have description then it will be shown -->
    Description:{{product.description}}
</p>

<button (click) = share()> <!-- () Event binding systax -->
  share
</button>

<!-- seclector for product-alerts components -->
<app-product-alerts
  [product]="product" 
  (notify)="onNotify()">
</app-product-alerts>
  
</div>



<!-- This is the HRML template --> 
<!-- The product details and share() are defined in component class -->
